{% extends "librarian/dashboard.html" %}
{% load static %}
{% block content %}
            <div class="row mx-3 gap-3">
                    <div class="card col-lg-2 col-md-3 bg-info-subtle">
                        <div class="card-body text-center ">
                            <div class="h3"><i class="fa fa-user fs-4 mx-1"></i>{{ total_students }}</div>
                            <div class="fs-5">Total students</div>
                        </div>
                    </div>
                <div class="card col-lg-2 col-md-3 bg-success-subtle">
                        <div class="card-body text-center ">
                            <div class="h3"><i class="fa fa-book fs-4 mx-1"></i>{{ total_books }}</div>
                            <div class="fs-5">Total books</div>
                        </div>
                    </div>
                <div class="card col-lg-2 col-md-3 bg-info-subtle">
                        <div class="card-body text-center ">
                            <div class="h3"><i class="fa fa-list fs-4 mx-1"></i>{{ total_categories }}</div>
                            <div class="fs-5">Total categories</div>
                        </div>
                    </div>
                <div class="card col-lg-2 col-md-3 bg-danger-subtle">
                        <div class="card-body text-center ">
                            <div class="h3"><i class="fa fa-book fs-4 mx-1"></i>{{ issued_books }}</div>
                            <div class="fs-5">Issued books</div>
                        </div>
                    </div>
            </div>
{% endblock %}