{% extends 'base.html' %}
{% load static %}
{% block body %}
<!-- hero slider -->
<div class="row">
    <div class="hero_slider">
        <div class="row">
            <!-- <div class="col-lg-12"> -->
            <div class="hero_slider my-3">
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 hero_slider_img">
                    <img src="{% static 'img/img_slider/slider_img_1.jpg' %}" alt="" />
                </div>
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 hero_slider_img">
                    <img src="{% static 'img/img_slider/slider_img_1.jpg' %}" alt="" />
                </div>
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 hero_slider_img">
                    <img src="{% static 'img/img_slider/slider_img_1.jpg' %}" alt="" />
                </div>
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 hero_slider_img">
                    <img src="{% static 'img/img_slider/slider_img_1.jpg' %}" alt="" />
                </div>
            </div>
            <!-- </div> -->
        </div>
    </div>
</div>

<!-- 1st book show slider -->
<div class="row">
    <div class="container books_show_main">
        <div class="display_book_cata_and_more d-flex justify-content-between">
            <h2>Top Rated Books List</h2>
            <a href="#">More</a>
        </div>

        <div class="catagory_slider" id="fontSlider1">

            <div class="books_show_card text-center col-3 col-xl-3 col-md-3 col-sm-6 col-6">
                <a href="#"> <img src="{% static 'img/book_img/HTML-My-SQL.jpg' %}" alt="photo"></a>

            </div>

            <div class="books_show_card text-center col-3 col-xl-3 col-md-3 col-sm-6 col-6">
                <a href="#"> <img src="{% static 'img/book_img/গল্পে স্বল্পে প্রোগ্রামিং.jpeg' %}" alt="photo"></a>

            </div>

            <div class="books_show_card text-center col-3 col-xl-3 col-md-3 col-sm-6 col-6">
                <a href="#"> <img src="{% static 'img/book_img/জাভা প্রোগ্রামিং Java programming A 2 Z.jpg' %}"
                        alt="photo"></a>

            </div>

            <div class="books_show_card text-center col-3 col-xl-3 col-md-3 col-sm-6 col-6">
                <a href="#"> <img src="{% static 'img/book_img/HTML-My-SQL.jpg' %}" alt="photo"></a>

            </div>

            <div class="books_show_card text-center col-3 col-xl-3 col-md-3 col-sm-6 col-6">
                <a href="#"> <img src="{% static 'img/book_img/HTML-My-SQL.jpg' %}" alt="photo"></a>

            </div>

        </div>

        <!-- prev and next  custom button for mobile and tab's only -->
        <div class="prev_and_next_btn text-center my-4">
            <button class="prev_btn" data-slider="#fontSlider1">Prev</button>
            <button class="next_btn" data-slider="#fontSlider1">next</button>
        </div>
        <!-- prev and next  custom button for mobile and tab's only -->

    </div>
</div>

<!-- ..... 2nd...... -->

<div class="row">
    <div class="container books_show_main">
        <div class="display_book_cata_and_more d-flex justify-content-between">
            <h2>Most Read</h2>
            <a href="#">More</a>
        </div>

        <div class="catagory_slider" id="fontSlider2">

            <div class="books_show_card text-center col-3 col-xl-3 col-md-3 col-sm-6 col-6">
                <a href="#"> <img src="{% static 'img/book_img/HTML-My-SQL.jpg' %}" alt="photo"></a>

            </div>

            <div class="books_show_card text-center col-3 col-xl-3 col-md-3 col-sm-6 col-6">
                <a href="#"> <img src="{% static 'img/book_img/গল্পে স্বল্পে প্রোগ্রামিং.jpeg' %}" alt="photo"></a>

            </div>

            <div class="books_show_card text-center col-3 col-xl-3 col-md-3 col-sm-6 col-6">
                <a href="#"> <img src="{% static 'img/book_img/জাভা প্রোগ্রামিং Java programming A 2 Z.jpg' %}"
                        alt="photo"></a>

            </div>

            <div class="books_show_card text-center col-3 col-xl-3 col-md-3 col-sm-6 col-6">
                <a href="#"> <img src="{% static 'img/book_img/HTML-My-SQL.jpg' %}" alt="photo"></a>

            </div>

            <div class="books_show_card text-center col-3 col-xl-3 col-md-3 col-sm-6 col-6">
                <a href="#"> <img src="{% static 'img/book_img/HTML-My-SQL.jpg' %}" alt="photo"></a>

            </div>

        </div>

        <!-- prev and next  custom button for mobile and tab's only -->
        <div class="prev_and_next_btn text-center my-4">
            <button class="prev_btn" data-slider="#fontSlider2">Prev</button>
            <button class="next_btn" data-slider="#fontSlider2">next</button>
        </div>
        <!-- prev and next  custom button for mobile and tab's only -->

    </div>
</div>


<!-- 3rd -->


<div class="row">
    <div class="container books_show_main">
        <div class="display_book_cata_and_more d-flex justify-content-between">
            <h2>New Addition</h2>
            <a href="#">More</a>
        </div>

        <div class="catagory_slider" id="fontSlider3">

            <div class="books_show_card text-center col-3 col-xl-3 col-md-3 col-sm-6 col-6">
                <a href="#"> <img src="{% static 'img/book_img/HTML-My-SQL.jpg' %}" alt="photo"></a>

            </div>

            <div class="books_show_card text-center col-3 col-xl-3 col-md-3 col-sm-6 col-6">
                <a href="#"> <img src="{% static 'img/book_img/গল্পে স্বল্পে প্রোগ্রামিং.jpeg' %}" alt="photo"></a>

            </div>

            <div class="books_show_card text-center col-3 col-xl-3 col-md-3 col-sm-6 col-6">
                <a href="#"> <img src="{% static 'img/book_img/জাভা প্রোগ্রামিং Java programming A 2 Z.jpg' %}"
                        alt="photo"></a>

            </div>

            <div class="books_show_card text-center col-3 col-xl-3 col-md-3 col-sm-6 col-6">
                <a href="#"> <img src="{% static 'img/book_img/HTML-My-SQL.jpg' %}" alt="photo"></a>

            </div>

            <div class="books_show_card text-center col-3 col-xl-3 col-md-3 col-sm-6 col-6">
                <a href="#"> <img src="{% static 'img/book_img/HTML-My-SQL.jpg' %}" alt="photo"></a>

            </div>

        </div>

        <!-- prev and next  custom button for mobile and tab's only -->
        <div class="prev_and_next_btn text-center my-4">
            <button class="prev_btn" data-slider="#fontSlider3">Prev</button>
            <button class="next_btn" data-slider="#fontSlider3">next</button>
        </div>
        <!-- prev and next  custom button for mobile and tab's only -->

    </div>
</div>



{% endblock %}