{% extends 'base.html' %}
{% load static %}
{% block body %}

    <!-- booking applyed boooks form using her username -->

    <main class="read_books mt-1">

        <div class="container">
            <div class="row">
                <!-- select img show here -->
                <div class="col-lg-5 col-xl-5 col-md-5 col-sm-12 col-12 booking_book_left">
                    <div class="booking_img d-flex justify-content-center ">
                        <img src="{{book.image.url}}" alt="books-img">

                    </div>
                </div>

                <!-- some booking criteria here -->
                <div class="col-lg-7 col-xl-7 col-md-7 col-sm-12 col-12">

                    <div class="booking_criteria text-center">
                        <h2>{{book.title}}</h2>
                          <h2 class="fs-5 ">{{book.author}}</h2>
                          <p  >Page - <span>{{book.pages}}</span></p>
                          <h3 class="fs-6 fw-semibold pt-2 pb-1">বইটি পড়ার জন্য নিচের দেয়া ফর্মটি পূরণ করুন</h3>
                          <form action="#">
                           
                            <div class="for_booking">
                                <input type="text" placeholder="Your Name" required>
                                <input type="text" placeholder="Your Department" required>
                                <input type="number" placeholder="Your Roll" required>
                                <input type="text" placeholder="Your Shift" required>
                                <input type="text" placeholder="Your Group" required>
                            </div>

                            <button>Read Book</button>
                          </form>
                    </div>

                </div>
            </div>
        </div>

    </main>


{% endblock %}