{% extends 'base.html' %}
{% load static %}
{% block style %}
    <style>
    a{
        text-decoration: none;
        color: black;
    }
    
    </style>
{% endblock %}
{% block body %}

    <!-- booking applyed boooks form using her username -->

    <main class="read_books mt-3">
        <div class="container">
            <div class="row shadow bg-primary-subtle rounded py-3">
                <div class="col-4">
                    <img class="img-fluid" src="{{ book.image.url }}" alt="">
                </div>
                <div class="col-8 py-2">
                    <h3>{{ book.title }}</h3>
                    <h4>Author : {{ book.author }}</h4>
                    <p>{{ book.desc }}</p>
                    <p>Pages : {{ book.pages }}</p>
                    {% if not user.is_staff and user.studentprofile.is_active %}
                        <form action="{% url 'main:request_book' %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-success" type="submit">Request for this book</button>
                            <input type="hidden" value="{{ book.id }}" name="book_id">
                            <input type="number" class="form-control w-25 d-inline" name="days" value="3">
                        </form>
                    
                    {% else %}
                    <div class="alert alert-danger">You can not Request for this book</div>
                    {% endif %} 
                </div>
            </div>
            <div class="row my-5">
                <h2>Book Holders</h2>
                <table class="table table-borderless">
                {% if book_holders %}
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Issue Date</th>
                        <th scope="col">Time Remaining</th>
                    </tr>
                    </thead>
                    <tbody>
                    
                    {% for item in book_holders %}
                    <tr>
                        <th scope="row">1</th>
                        <td>{{ item.student.name }}</td>
                        <td>{{ item.issue_date }}</td>
                        <td>{{ item.book_time }} Days</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <div class="alert alert-danger">
                        No book holders yet.
                    </div>
                    {% endif %}

                    </tbody>
                </table>
            </div>
            <div class="row">
                <h2>Comments</h2>
                <div class="row">
                    <div class="col-12 p-3">
                        
                        <a href="#">
                            <h6><i class="fa fa-user-circle mx-2"></i>Mahmud Hasan</h6>
                        </a>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet et facere facilis nemo quam quibusdam, sunt! Asperiores eum rem ut.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 p-3">
                        
                        <a href="#">
                            <h6><i class="fa fa-user-circle mx-2"></i>Mahmud Hasan</h6>
                        </a>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet et facere facilis nemo quam quibusdam, sunt! Asperiores eum rem ut.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 p-3">
                        
                        <a href="#">
                            <h6><i class="fa fa-user-circle mx-2"></i>Mahmud Hasan</h6>
                        </a>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet et facere facilis nemo quam quibusdam, sunt! Asperiores eum rem ut.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 p-3">
                        
                        <a href="#">
                            <h6><i class="fa fa-user-circle mx-2"></i>Mahmud Hasan</h6>
                        </a>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet et facere facilis nemo quam quibusdam, sunt! Asperiores eum rem ut.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </main>


{% endblock %}