{% extends 'base.html' %}
{% load static %}
{% block body %}
<style>
    /* Your existing CSS code */
.books_name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

</style>
<!-- single page's search result or department name when user attempt to search-->
<div class="row">
    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12">
        {% if operation == "search" %}
        <h2 class="pt-4 pb-5">Search Result for : {{text}}</h2>
        {% else %}
        <h2 class="pt-4 pb-5">Category : {{category}}</h2>
        <h2 class="pt-3 pb-5 d-none">Department Name</h2>
        {% endif %}
    </div>
</div>

<!-- catagory slider 1 -->
<div class="catagory_body_main">
    <!-- search result books show here -->
    <div class="row catagory_slider py-3">
        {% for book in books %}
            <div class="books_show_card text-center col-lg-4 col-3 col-xl-3 col-md-4 col-sm-6 col-6 py-3">
                <a href="#"><img src="{{book.image.url}}" alt="photo"></a>
                <h2 class="books_name pt-3 truncate-text">{{book.title}}</h2>
                <h2 class="writer">{{book.author}}</h2>
                <p class="available_status">Available: {{book.count}}</p>
                <div class="read_and_read_btn">
                    <a href="{% url 'main:add_to_wishlist' book.id %}" class="wish_list my-btn my-btn-secondary .my-btn-sm">Wish List</a>
                    <a href="{% url 'main:book' book.id %}" class="read_now my-btn-primary .my-btn-sm">Read Now</a>
                </div>
            </div>
        {% endfor %}
    </div>


</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<Script>
    $(document).ready(function () {
    // Truncate book titles
    $('.truncate-text').each(function () {
        var maxLength = 23;
        var text = $(this).text();
        if (text.length > maxLength) {
            $(this).text(text.substring(0, maxLength) + '...');
        }
    });
});

</Script>

{% endblock %}